.JobList {
  padding: 1em;

  .JobList_filter_list {
    margin: 1em;

    .JobList_filter {
      margin: 5px;
      padding: 5px;
      background: map-deep-get($palette-colors, 'primary', 'pastel', 'color');

      &:hover {
        background: map-deep-get($palette-colors, 'primary', 'highlight', 'color');
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  .JobList_row {
    align-items: center;

    .pending {
      * {
        color: map-deep-get($palette-colors, 'danger', 'base', 'color');
      }
    }

    &:hover {
      color: map-deep-get($palette-colors, 'primary', 'base', 'color');
      font-weight: bold;
      cursor: pointer;
    }

    .JobList_id,
    .JobList_modules {
      font-weight: bold;
      text-overflow: ellipsis;
      display: inline;
      white-space: nowrap;
    }
  }

  .JobList_head {
    .JobList_head_cell {
      border-right: 1px solid black;

      &.JobList_head_cell_sortable {
        .JobList_sortButton {
          float: right;
          color: map-deep-get($palette-colors, 'gray', 'base', 'color');
          transition: transform 500ms;

          > svg {
            vertical-align: middle;
          }

          &.JobList_sortButton_rotated {
            transform: rotate(180deg);
          }
        }
      }

      &.JobList_head_cell_active {
        * {
          font-weight: bold;
          font-size: 1.05em;
        }

        .JobList_sortButton {
          color: map-deep-get($palette-colors, 'primary', 'base', 'color');
        }
      }
    }
  }
}
