.JobDetails {
  margin: 1em;

  .JobDetails_controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .JobDetails_controls_theme {
      min-width: 200px;
    }

    .JobDetails_controls_export {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      > * {
        padding-right: 1em;
      }
    }
  }

  .JobDetails_Primary_Form {
    .JobDetails_badness {
      font-weight: bolder;
    }
  }

  .JobDetails_ReportValue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    &.expanded {
      white-space: initial;
      max-width: none;
    }
  }

  .JobDetails_Metadata_Control {
    .JobDetails_Metadata_Control_Metadata {
      pointer-events: none;
    }
  }
}
