// body.gasket-app {
//   margin-left: 50px;
// }

.Layout {
  &.container {
    // max-width: 1200px;
  }
  
  .Layout_Main_Content {
    padding: 48px;
    
    .Layout_Main_Caption {
      font-family: 'GD Sherpa';
      font-style: normal;
      font-weight: 500;
      font-size: 31.3px;
      line-height: 125%;
    }
  }

  .Layout_Navigation {
    color: red;
    flex-direction: row;
    margin-bottom: 0.1em;

    .Layout_Navigation_Button {
      border-right: 1px solid map-deep-get($palette-colors, 'gray', 'light', 'color');

      &:first-child {
        border-left: 1px solid map-deep-get($palette-colors, 'gray', 'light', 'color');
      }

      &:hover {
        background: map-deep-get($palette-colors, 'primary', 'pastel', 'color');
      }
    }

    .Layout_Navigation_Back {
      transform: rotate(180deg);
    }
  }
}
