.Layout {
  .Layout_Navigation {
    color: red;
    flex-direction: row;

    .Layout_Navigation_Button {
      border-right: 1px solid map-deep-get($palette-colors, 'gray', 'light', 'color');

      &:first-child {
        border-left: 1px solid map-deep-get($palette-colors, 'gray', 'light', 'color');
      }

      &:hover {
        background: map-deep-get($palette-colors, 'primary', 'pastel', 'color');
      }
    }

    .Layout_Navigation_Back {
      transform: rotate(180deg);
    }
  }
}
